/*
!/backend

/backend/*
!/backend/src/
!/backend/include/

/backend/src/*
!/backend/src/grouter/

/backend/include/*
!/backend/include/*.h

/backend/src/grouter/*
!/backend/src/grouter/*.c

!.gitignore
